<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="borrador-front-proyecto-app">
  <template>
  <style>
    :host {
      display: block;
    }

    .redbg {
      background-color: red;
    }

    .greenbg {
      background-color: green;
    }

    .bluebg {
      background-color: blue;
    }

    .greybg {
      background-color: grey;
    }
  </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="row greybg">
      <div class="col-2 offset-1 redbg">Col red</div>
      <div class="col-3 offset-1 greenbg">Col green</div>
      <div class="col-3 offset-1 bluebg">Col blue</div>
    </div>


    <button class="btn btn-primary">login</button>
    <button class="btn btn-secondary">logout</button>
    <button class="btn btn-success">login</button>
    <button class="btn btn-info">logout</button>
    <button class="btn btn-danger">login</button>
    <button class="btn btn-warning">logout</button>
    <button class="btn btn-light">login</button>
    <button class="btn btn-dark">logout</button>

    <!-- <h2>Hello [[first_name]] [[last_name]]!</h2>
    <h3>y tengo [[age]] años</h3>

    <input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max="99" /> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BorradorFrontProyectoApp extends Polymer.Element {
      static get is() { return 'borrador-front-proyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String,
            value: "Juan"
          }, last_name: {
            type: String,
            value: "Puertas"
          }, age: {
            type: Number,
            value: 28
          }
        };
      }
    }

    window.customElements.define(BorradorFrontProyectoApp.is, BorradorFrontProyectoApp);
  </script>
</dom-module>
