<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>Hello [[first_name]] [[last_name]]!</h2>
    <h3>y mi email [[email]] </h3> -->
    <h1>Sus Cuentas son:</h1>
    <template is="dom-repeat" items="{{accounts}}">
        <h3>IBAN - {{item.IBAN}}</h3>
        <h3>Saldo - {{item.balance}}</h3>
        </br>
      </template>
    <!-- <h2>cuentaId: [[cuentaId]]</h2>
    <h2>IBAN: [[IBAN]]</h2>
    <h2>Balance: [[balance]]</h2> -->


    <iron-ajax auto
    id="getAccount"
    url="http://localhost:3000/apitechu/v2/accounts/{{id}}"
    handle-as="json"
    on-response="showData"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          // cuentaId: {
          //   type: Number
          // }, IBAN: {
          //   type: String
          // }, balance: {
          //   type: Number
          // }
          userId: {
            type: Array
          }, accounts: {
            type: Array
          }
        };
      }
      showData(data) {
        console.log("showData");
        // console.log(data.detail.response[0]);
        console.log(data.detail.response);
        // console.log(data.detail.__data.response);
//this soy yo
        // this.cuentaId = data.detail.response.cuentaId;
        // this.IBAN = data.detail.response.IBAN;
        // this.balance = data.detail.response.balance;
        this.accounts = data.detail.response;
      }
    }

//esta es la funcion que relaciona el customElements con la etiqueta visor-usuario
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
